act@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);

*{
	margin:0;
	padding: 0;
	outline: none;
	border:none;
	text-decoration : none;
}

a{
  text-decoration:none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    position: relative;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}


.wrapper{
  float: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}


.link-sect .btn {
  background: #0081ff;
  display: block;
  width: 129px;
  margin-top: 15px;
  height: 36px;
  line-height: 36px;
  font-size: 17px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
}

.upgrades {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
	text-align:center;
}

.upgrades img {
	padding:5px;
	max-width:182px;
	max-height:200px;
}

.upgradelarge {
	max-width:940px !important;
	display:none !important;
height:auto;
	margin:0 auto;
}

.upgradelarge img {
	width:100%;
}

.upgrades h4 {
	width:100%;
	text-align:center;
	float:left;
    font-size: 15px;
    font-weight: 700;
    color: #363636;
    height: 30px;
    line-height: 30px;
	margin-bottom:10px;
    background: #f1f1f1;
    border: 1px solid #e4e4e4
}
	


/* =============================================================
   HEADER TOP STYLES
================================================================ */

.header-top {
  width: 100%;
  float: left;
  background: #70B2B9;
  height: 10px;
  /*line-height: 32px;*/
  line-height:2px;
}

.header-top ul.menu {
  float: right;
  margin-right: 17px;
  box-sizing: border-box;
}

.header-top ul.menu li {
  float: left;
  color: #0080ff;
}

.header-top ul.menu li:first-child {
  list-style: none;
}

.header-top ul.menu li a {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #ebebeb;
  margin-right: 27px;
}

.header-top ul.menu li:last-child a {
  margin-right: 0;
}





/* =============================================================
   HEADER STYLES
================================================================ */

header {
  clear: both;
  width: 100%;
  float: left;

  background: #ffffff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffffff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #ffffff); /* Standard syntax */
}

header .logo {
  width: 291px;
  height: 43px;
 /* float: left; */
 /* margin-top: 30px; */
 /* margin-bottom: 32px; */
}

header .header-right {
  width: 235px;
  float: right;
/* margin-top: 34px; */
}

header .shipping,
header .phone {
  float: left;
  width: 270px;
}

header .phone {
  float: right;
  width: 222px;
  display:none;
}

header img {
  display: block;
  float: left;
  margin-right: 10px;
}

header h5 {
  color: #1d1d1d;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 900;
}

header span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1d;
}

header .shipping span {
	display:none;
}



/* =============================================================
   MAIN NAVIGATION STYLES
================================================================ */

nav {
  clear: both;
  width: 100%;
  float: left;
  overflow: hidden;
  background: #0080ff;

  box-shadow: 0px 5px 5px #c4c4c4;
}

nav ul.menu {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

nav ul.menu li {
  display: table-cell;
  height: 43px;
  vertical-align: middle;
  text-align: center;
}

nav ul.menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .burgermenu,
nav a.closemenu {
  display: none;
}





/* =============================================================
   BANNER STYLES
================================================================ */

.banner {
  clear: both;
  width: 100%;
  max-width:1366px;
  margin: 5px auto;
}





/* =============================================================
   PRODUCTS STYLES
================================================================ */

.products {
  clear: both;
  width: 100%;
  float: left;
  padding-top: 38px;

  background-image: radial-gradient(#15a3f5, #0081ff);

  overflow: hidden;
}

.products .single-product {
  float: left;
  width: 32.4%;
  position: relative;
  margin: 0 1.4% 1% 0;
  padding-bottom: 15px;
}

.products .single-product:last-child {
  margin-right: 0;
}

.products img {
  max-width: 329px;
  width: 100%;
  margin-left: auto; display:inherit;
  margin-right: auto;
}


.products a {
  display: block;
  margin-top: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}





/* =============================================================
   CATEGORIES STYLES
================================================================ */

.categories {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 40px;
  padding-bottom: 51px;

  overflow: hidden;
}

.categories .heading {
  width: 100%;
  background: url(images/category-heading-bg.png) repeat-x center center;
}

.categories h3 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  font-weight: 700;
  color: #a1a1a1;
  background: #fff;
  width: 217px;
  text-align: center;
  margin-bottom: 40px;
}

.categories .single-category {
  width: 25%;
  float: left;
  padding-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}

.categories img {
  max-width: 235px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.categories a {
  display: block;
  margin-top: 25px;
  color: #a1a1a1 !important;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}





/* =============================================================
  FOOTER STYLES
================================================================ */

footer {
  clear: both;
  width: 100%;
  float: left;
  background: #1d1d1d;
  padding-top: 41px;
  box-sizing: border-box;
}

footer .link-sect {
  float: left;
  width: 19%;   /* 218.5px */
  margin-top: 8px;
  height: 257px;
}

footer .sub {
  float: right;
}

footer .link-sect h4 {
  font-size: 17px;
  font-weight: 700;
  color: #0081ff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .link-sect ul {
  list-style: none;
  margin-left:-39px;
}

footer .link-sect ul li {
  line-height: 24px;
  display: block;
}

footer .link-sect ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

footer .link-sect span {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  display: block;
}

footer .link-sect span.highlight {
  color: #0081ff;
  font-weight: 700;
  margin-top: 15px;
}

footer .link-sect span.highlight:first-child {
  margin-top: 0;
}

footer .sub span {
  font-size: 15px;
}

footer .sub b {
  display: block;
}

footer .copyright-info {
  clear: both;
  width: 100%;
  float: left;
  background: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-top: 23px;
  padding-top: 17px;
  padding-bottom: 25px;
}





/* =============================================================
   LISTING PAGE STYLES
================================================================ */

.gallery-container {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: auto;
    width: 100%;
    padding-bottom: 25px;
}
.gallery {
  position: relative;
  float: left;
  width: 49%;
  margin-top: 26px;
  margin-left: 4px;
}
.thumbnails {
  list-style: none;
  font-size: 0;
  text-align: center;
  margin-top: 0px;
}
.thumbnails li {
  display: inline-block;
  width: 92px;
  height: 92px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  
}

.item-container {
	border: 1px solid #e4e4e4;
}

.thumbnails .item-container {
  position: relative;
  margin:  0;
  transition: all 150ms ease-in-out;
  height: 100%;
}

.thumbnails .title {
  padding: 20px 0 0;
  font-size: 18px;
  color: #555;
  transition: all 150ms linear;
}
.thumbnails .thumb-image {
   bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.thumbnails .gallery-content {
  position: absolute;
  bottom:110px;
  left: 0px;
  top: 0;
  width: 100%;
  height: 563px ;
  opacity: 0;
  transition: all 150ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
.item-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}
.thumbnails .gallery-content img{
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

/*
.thumbnails li:hover{
  border:1px solid #d5d5d5;
}
*/

.thumbnails li.image1:hover .gallery-content#image1 {
  opacity:1;
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out;
}
.thumbnails li:hover ~ .defaultimg { 
  opacity: 0;
}


.white-box {
  background: white;
  width: 100%;
  height: 563px;
  max-width: 100%;
  margin-left: 0px;
}
.defaultimg {
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    width: 100%;
height:563px;
    -webkit-animation: scale 0.7s ease-in-out;
-moz-animation: scale 0.7s ease-in-out;
animation: scale 0.7s ease-in-out;
}

.defaultimg img {
    margin: 0 auto;
    text-align: center;
    max-height: 100%;
    width: 100%;
}
.gallery-detail {
    width: 49%;
    float: left;
    padding-left: 2%;
    margin:0;
    box-sizing: border-box;
    margin-top: 38px;
}
.gallery-detail h1 {
    color: #0f0f0f;
    font-size: 24px;
    font-weight: 700;
    width: 80%;
}

.gallery-detail .price{
  font-size: 34px;
  color: #ed1c24;
  font-weight: 400;
  margin: 29px 0 0 ;
}

.gallery-detail ul.product-availability {
  margin-top: 32px;
  background: #f1f1f1;
  border: 1px solid #e4e4e4;
  padding: 12px 0px 2px 12px;
}


.gallery-detail ul.product-availability li {
    display: block;
    font-size: 15px;
    color: #111111;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    background: url(images/ch-checked.png) no-repeat left center;
}

.gallery-detail .product-description,
.gallery-detail .product-features,
.gallery-detail .product-specifications {
  width: 100%;
  float: left;
  line-height: 26px;
  margin-top: 27px;
  box-sizing: border-box;
}

.gallery-detail .product-description h4,
.gallery-detail .product-features h4,
.gallery-detail .product-specifications h4 {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  background: #70B2B9;
  border: 1px solid #e4e4e4;
}

.gallery-detail .product-specifications h4 {
  margin-bottom: 10px;
}


.gallery-detail .product-description p,
.gallery-detail .product-features p,
.gallery-detail .product-specifications p {
  font-size: 13px;
  font-weight: 400;
  color: #363636;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 5px;
  line-height: 24px;
}

.gallery-detail .product-description ul,
.gallery-detail .product-features ul,
.gallery-detail .product-specifications ul {
  margin-left: 2px;
  margin-top: 15px;
}

.gallery-detail .product-description ul li,
.gallery-detail .product-features ul li,
.gallery-detail .product-specifications ul li {
  display: list-item;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  padding-left: 0px;
  margin-left: 15px;
  line-height: 24px;
}



.gallery-detail .product-specifications .spec-row {
  width: 100%;
  float: left;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 5px;
}

.gallery-detail .product-specifications .spec-row:last-child {
  border-bottom: 1px solid #e4e4e4;
}

.gallery-detail .product-specifications .name {
  width: 40%;
  float: left;
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  padding-left: 10px;
  box-sizing: border-box;
}

.gallery-detail .product-specifications .detail {
  width: 59%;
  float: left;
  font-size: 15px;
  font-weight: 700;
  color: #363636;
}



/* =====================================================
   Tabs Styles
======================================================== */

.tabs {
	clear: both;
	width: 100%;
	float: left;
	list-style: none;
	position: relative;
	box-sizing: border-box;
	margin-top: 1px;
	margin-bottom: 29px;
}

.tabs:after {
	content: '';
	display: table;
	clear: both;
}

.tabs input[type=radio] {
	display: none;
}

.tabs label {
display: block;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    box-sizing: border-box;
    width: 147px;
    margin-right: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(209, 209, 209);
    text-decoration: none;
    transition: all 0.5s;
}

.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    min-height: 200px;
    margin-bottom: 0;
    border: 1px solid #e0e0e0;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5,
#tab6:checked ~ #tab-content6 {
    display: block;
}

.tabs [id^="tab"]:checked + label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    top: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #70B2B9;
    border-bottom: none;
  }

.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}

@keyframes scale {

  0% { 
    transform: scale(0.9);
    opacity: 0;
    }

  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }

  100% { 
    transform: scale(1);
    opacity: 1;
  }

}

/* Tab Styling */ 

.tab-content h1, h2, h3, h4, h5 {
	color:#333;
	margin: 15px 0px;
	letter-spacing: 1px;
}

.tab-content h1 {
	font-size: 26px;	
}

.tab-content h2 {
	font-size: 24px;	
}

.tab-content h3 {
	font-size: 22px;	
}

.tab-content h4 {
	font-size: 20px;	
}

.tab-content h5 {
	font-size: 18px;	
}

.tab-content p{
	font-size: 14px;
    font-weight: 400;
    color: rgb(99, 99, 99);
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0px;
}

.text-center img, .text-left img, .text-right img {
	text-align:center;
	margin:0 auto;
}

.text-center {
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.tab-content ol, .tab-content ul {
	margin-left:25px;
	font-size: 14px;
    font-weight: 400;
    color: rgb(99, 99, 99);
    line-height: 24px;
	font-family:Arial, Helvetica, sans-serif;
}

.tab-content ol ol li {
    list-style-type: lower-alpha;
}

.tab-content ol ol ol li {
    list-style-type: lower-roman;
}

.tab-content ul {
	list-style-type:disc;
}

.tab-content ul ul li {
    list-style-type: circle;
}

.tab-content ul ul ul li {
    list-style-type: square;
}






/* =====================================================
   Sidebar Page Styles
======================================================== */

.side-bar {
  max-width: 214px;
  width: 23%;
  float: left;
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 0px;
  box-sizing: border-box;
  margin-left: 15px;
}

.store-search {
  margin-bottom: 11px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background: #0080ff;
  border: 2px solid #eeeeee
}
.store-search span,
.store-category span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 0px;
  display: block;
  text-transform: uppercase;
  margin-left: 10px;
}

.search {
  position: relative;
  margin: 0px;
}

.search-field {
    width: 100%;
    height: 31px;
    line-height: 31px;
    background: #ffffff;
    color: #111111;
    padding-left: 7px;
    box-sizing: border-box;
    border: 1px solid #959595;
}

.search-btn{
  width: 35px;
  height: 31px;
  background: #111111 url(images/search.png) no-repeat center center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  text-indent: -9999px;
  margin-top: 0px;
}

.store-search input[type=checkbox] {
  display:inline-block;
  width:18px;
  height:18px;
  margin-left  : 0px;
  background: url('images/check-box.png');
  vertical-align:middle;

}
.store-search input[type=checkbox] + label {
  font-size: 12px;
  margin-top: 8px;
  color: #fff;
}

.store-category {
  overflow: hidden;
  padding-bottom: 20px;
  border: 2px solid #eeeeee;
}

.store-category span {
  color: #111111;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 7px;
  font-weight: 700;
  font-size: 14px;
  height: 20px;
  line-height: 22px;
  border-bottom: 1px solid #111111;
}

.lcat ul {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  margin-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  padding-bottom: 10px;
}

.lcat ul.lev1 {
  
}

.lcat ul.lev1 li {
  border-bottom: 1px solid #dedede;
  padding: 7px 2px 7px 0px;
  margin: 0;
}

.lcat ul.lev1 li:last-child {
  border-bottom: 1px solid #efefef;
} 

.lcat ul.lev1 li.lev1-active {
  border-bottom: none;
}

.lcat ul.lev1 li.lev1-active  a, .lcat ul.lev1 li a:hover{
  font-weight: 700;
  color: #0080ff;

}

.lcat ul.lev1 li a {
  width: 100%;
  display: inline-block;
  color: #898989;
  margin-left: 8px;
  font-weight: 300;
}

.lcat ul.lev1 li.lev1-active a {
  width: 100%;
  display: inline-block;
}

.lcat ul.lev2 {
  margin-top: 0px;
  padding-right: 0px;
  text-transform: unset;
  padding-left: 25px;
  border-bottom: 1px solid #efefef;
}

.lcat ul.lev2 li {
  padding: 0px 0px 12px 0px;
  border: none;
  color: #898989;
  list-style-type: disc;
}

.lcat ul.lev2 li:last-child {
  border-bottom: none;
}


.lcat ul.lev2 li a {
  width: 100%;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #898989;
  padding-left: 0px;
  margin-left: -5px;
  text-transform: initial;
}


.lcat ul.lev3 {
  font-size: 12px;
  font-weight: 400;
  margin-top: -7px;
  margin-bottom: 5px;
  padding-right: 0px;
  padding-left: 10px;
}

.lcat ul.lev3 li {
  padding: 2px 0px;
  color: #afafaf;

}

.lcat ul.lev3 li:last-child {
  border-bottom: none;
}

.lcat ul.lev3 li a {
  font-size: 13px;
  color: #afafaf;
}




/* ------ eBay Style // START ------ */

body a:link, body .g-novisited a:visited, a:visited {
	text-decoration:none; 
}
table.gallery td.details {
	float:none;
	width:auto;
	margin:0;
	background:none;
}

.main-wrapper {
	float: left;
	width: 100%;
	margin-top:28px;
}

td#CentralArea {
	/* padding-bottom: 10px; */
	/* background: #ffffff; */
	margin-top: 0;
	float: right;
	/* border-left: 1px solid #ccc; */
}
.pagecontainer table.tb_v4bc ~ table {
    background: url(images/pattern.png) repeat;
}
table.content-container-table {
    width: 1000px;
    margin: 0px auto 0px auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    /* background: #ffffff; */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 0px 10px 0 #000; */
 }
.ttl {
	display: none;
}
.toplne {
	border: 0;
}
a.all_cats {
	display: none;
}

.footerline {
	width: 950px;
	padding: 25px;
	margin: 0 auto;
	background: #fff;
	border-top: 5px solid #ddddd8;
}

td#CentralArea div.v4stabl {
	margin-bottom: -43px;
	font-size: 12px;
	margin-top: 26px;
	padding-right: 6px;
	color: #000000;
	font-weight: normal;
	text-transform: none;
	display: none;
}
span#v4-8 {
	/* display: none; */
}

div.v4stabl a {
	color: #363636;
	text-decoration:none;
	font-weight: bold;
	font-size: 12px;
}

.ctrlbr {
	color: #555555;
	height: 14px;
	text-align: left;
	float: right;
	border: none;
	margin-top: -50px;
	padding: 4px 0px 8px 0px;
	border-bottom: 0;
	position: relative;
	z-index: 200;
	margin-right: 6px;
	margin-left: 12px;
}

span.pdmt .label {
    color: #464646;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, arial;
}
.ctrlbr span#v4-7, .ctrlbr span#v4-8 {
	color: #e9a400;
	font-weight: bold;
	font-size: 12px;
}
span.pdmt {
	font-size:12px;
}


td#CentralArea span.pdmt {
	padding-right:0px; 
	/* padding-left:10px; */
	font-weight: normal;
}
span.pdmt .cur {
	  background: #fff url(images/arrow1.png) no-repeat scroll 94% center;
	  padding-right: 14px;
	  color: #363636;
	  font-weight: 300;
	  font-size: 12px;
	  margin-right: 0;
	  text-transform: capitalize;
	  padding: 7px 27px 5px 7px;
	  border-radius: 0;
	  font-family: Roboto, arial;
	  border: 1px solid #c1c1c1;
}

span.pdmt img {
	display:none;
}
.fpcc .countClass {
	font-weight: 800;
	color: #0080ff;
	font-size: 14px !important;
	text-transform: capitalize;
	font-family: Roboto, aial;
}

.fpcc span.keywordClass {
	color: #0080ff;
	background-color: transparent;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: Roboto, arial;
}

.r3_cm {
	width: 890px;
	float: right;
	margin-top: 1px;
	/* border: 1px solid #dfdfdf; */
	padding: 0 0 0 0px;
	background: #ffffff;
	/* margin-right: 15px; */
}

.r3_hm, .r3_c, .r3_s {
	border:none !important;
}

.r3_t {
	background:none !important;
	display: none;
}

.r3_t b, .r3_bl b {
	margin:0 !important;
	background:none;
}

.r3_t i, .r3_bl i {
	display:none;
}

.rs_box {
	border: 0;
	/* height: 15px; */
	box-shadow: none !important;
	/* overflow: hidden; */
	padding-top: 0;
	float: left;
	width: 890px;
}

.cmpBr {
	border-bottom: 0;
	height: 15px;
	background:none;
	padding: 7px  0px 6px 0;
	display: none;
	/* margin-top: -26px; */
	border-top: 0;
	border-bottom: 1px solid #cbcbcb;
	float: right;
	width: 98%;
	margin-bottom: 15px;
}

.cmsg {
	font-size: 11px;
	padding-right:0;
	padding-top:0;
	display: none;
}

.cmpBr span a {
	color: #7c78c3!important;
	font-size: 11px;
}
.image a.gpvi img {
    /* padding: 7px 30px; */
    /* background-color: #ffffff; */
    /* border: 1px solid #cbcbcb; */
    max-height: 140px;
    height: auto;
    max-width:140px;
    width:auto;
}

.image {
    width: 200px !important;
    border: 0;
    padding-bottom: 15px;
    height: 140px;
}

table.grid {
	float:left;
	/* margin-top: 5px; */
	border-bottom: 0;
	/* width: 300px; */
	background: #fff !important;
}
.grid td.gallery {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin-bottom: 11px;
    margin-right: 10px;
    margin-left: 6px;
    padding: 0px;
    text-align: center;
    width: 280px;
    margin-top: 0;
    border: 0;
    background: none;
}

span.label {
	/* display:none; */
}

table.gallery {
	height: 308px;
	border-radius: 0;
	width: 280px !important;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0 !important;
	border: 1px solid #e4e4e4;
	box-shadow: none !important;
	}
table.gallery tr:nth-child(2) {
    display: none;
}
.grid td.left {
	border:none;
}
table.gallery td.picture {
	padding:0 !important;
	border: 0;
}
table.gallery td.details div.ttl {
	display:block;
}

table.gallery td.details div.ttl a {
	color: #464646!important;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.3;
	font-family: Roboto, arial;
	text-transform: capitalize;
}

table.gallery td.details div.ttl {
	margin: 2px 0 15px 0;
	text-align: center;
	min-height: 54px;
}

table.gallery tbody {
	width: 100%;
}

table.fixed {
	width:100%;
	background: none;
	padding: 0px 0;
	margin-top: 0 !important;
}

table.fixed td {
	width: 100%;
	display: block;
}
table.fixed td span.label {
	display:none;
}


table.gallery .mi {
	display: none;
}

.mi a {
	color: #7994c1!important;
    font-size: 12px;
    font-weight: bold;

    display: none;
}

div.ship.clearFullDiv.clr {
	display: none;
	font-size: 12px;
	font-weight: bold;color: #252525;
	width: 100%;
	text-align: center;
	font-family: Roboto, arial;
}

table.fixed tr td img {
	text-align:left;
	display: none;
}

table.fixed tr td span.bin.g-b {
	font-weight: 800;
	color: #111;
	font-size: 24px;
	font-family: Roboto,arial;
	text-align: left;
	border: 0;
	padding: 0;
}

table.fixed div.time2 {
	color: #000;
	padding-top: 22px;
	width:120%;
	display: none;
}
div.itemseparator {
	margin:7px 0;
	border:none;
	display: none;
}

td#CentralArea div.dynpg {
	background: none;
	float: left;
	margin: 10px 0 15px 0;
	padding: 2px 0 10px 0;
	width: 100%;
	border-radius: 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	height: 30px;
}
.r3_t, .r3_t b, .r3_bl, .r3_bl b {
	background-image:none;

}

table.pgbc {
	border-top: 0;
	font-family: Roboto, arial;
	font-size: 14px;
	border-radius: 0;
	border-bottom: 0;
	/* padding: 6px 0; */
}

table.pgbc a, .dynpg .r .form label{
	color: #000!important;
	font-family: Roboto,arial;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	/* font-style: italic; */
}

.pgbc {
	color: #FFFFFF;
	padding: 0 5px;
	background-color: transparent;
	border: none;
	width: 98%;
	border-radius: 5px;
	margin-left: 12px;
}

span.cnt {
	display:none !important;
}

#fpcap {width: 98.5%;height: 17px;padding: 13px 0px 12px 12px;border: 1px solid #e4e4e4;margin-bottom: 15px;float: left;margin-top: 0;margin-left: 0px;background: #eee;}

.fpcc .matchClass {
	color: #464646;
	font-size: 14px;
	text-transform: none;
	font-weight: 300;
	font-family: Roboto, arial;
}
.rs-pview {
	padding:0;
	margin-top: 0;
	float: right;
	/* width: 750px; */
}

.dynpg span.page {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	font-family: Roboto,arial;
	font-size: 14px;
}

.dynpg .prev a.disabled {
	color: #6f6f6f;
	font-size: 14px;
	font-family: Roboto,arial;
	font-weight: bold;
	text-transform: uppercase;
}

.dynpg span.pipe {
	margin: 0 3px;
	padding: 0;
	color: #707070;
	font-family: 'Roboto', sans-serif;
}



.dynpg td.pages a.enabled:visited, .dynpg td.pages a.enabled {
	color: #111;
}
input#q_10 {
	color: #fff;
	padding: 2px 5px;
	font-weight: bold;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Roboto, arial;
	height: 25px;
	background-color: #0080ff;
	background-image: none;
	width: 31px;
	text-indent: 0;
	}
td#CentralArea span.pdmt:first-child {
	display: none;
}
.ml-pm ul li, .ml-pm ul li a:hover, .ml-pm ul li a:link, .ml-pm ul li a:visited {
	color:#000;
}

#v4-55 > table > tbody > tr > td.m > table > tbody > tr > td.pages > a.disabled {
	color: #949092!important;
}

#TopPromoArea{
	width: 756px !important;
	float: right;
	display: none;
	margin-right: 0;
	margin-top: 30px;
}

.dynpg .r .form input.page {
	margin: 0 5px;
	width: 28px;
	border: 1px solid #e6e6e6;
	height: 23px;
}
.v4stabl b {
	color: #7c78c3;

}

span.bid.g-b {
	font-size: 21px;
	font-weight: normal;
	color: #333;
	font-family: 'Roboto', sans-serif;
}

table.gallery table.fixed span.stp {
	display:none;
}

.anchors {
	background: url(images/buynow-btn.png) no-repeat center center;
	display: none;
	width: 100%;
	height: 37px;
	margin-top: 10px;
	/* float: right; */
	margin-bottom: 5px;
}

table.grid td.gallery:last-child {
	margin-right: 0;
}

table.gallery div.subtitle{
	display:none;
}

.hidden {
	display:none;
}
a.disabled img, a.enabled img {
	display:none;
}

.pagecontainer table:nth-child(5) td > table:nth-child(2), .pagecontainer table:nth-child(5) td > table:nth-child(3) {
    width: 1120px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.pagecontainer table:nth-child(5) td > table:nth-child(2) td#LeftPanel, table.v4thldr {
    width: 215px !important;
}
 
/*custom sidebar */
 
.v4title h2 {
    font-family: Roboto, arial;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 12px;
    width: 100%;
    background: #0080ff;
}
 
table.v4acp tr.v4acp_head td.v4title {
    background: #0080ff;
    padding: 0;
    font-weight: normal;
}
 
table.v4acp {
    background: none;
    padding: 0px 15px 0 0px;
    height: 30px;
    line-height: 30px;
    border-bottom: 0;
}
 
td.v4accent {
    display: none;
}
 
td.v4hspacer {
    display: none;
}
 
table.v4midBox.v4nfc {
    background: #0080ff;
    border: 0;
    border-top: 0;
    padding: 0px 0px;
}
 
table.v4midBox tr.v4acp_mid td.v4mid {
    padding: 0;
    background: #0080ff;
}

.v4sbox {
    width: 153px;
    height: 29px;
    line-height: 30px;
    background: #ffffff;
    color: #959595;
    border: 1px solid #818181;
    float: left;
    border-right: 0;
}

input[type="submit" i] {
    /* color: transparent; */
    /* background-color: #1a378b!important; */
    /* height: 25px; */
    /* width:30px; */
    /* background: url(images/searchbtn.png) center center no-repeat; */
    cursor: pointer;
}
 
v4mid submit {
	width: 54px;
    height: 30px;
    background: #ee008b;
    cursor: pointer;
    color: white;
    padding: 5px 0;
}
	
 
.lcat {
    width: auto !important;
    font-family: Roboto, arial;
    /* padding-bottom: 10px; */
    margin-top: 6px;
}

 

a.all_cats {
    display: none !important;
}
.link a { color:#111 !important;}
table.v4acpcont {
    width: 215px !important;
    background: #0080ff;
    /* padding: 4px 15px 15px 15px; */
    box-sizing: border-box;
    border: 2px solid #eee;
}
label.g-hdn {
    display: none;
}

input[type="submit"] {width: 36px;height: 31px;background: #111 url(images/search.png) no-repeat center center;cursor: pointer;/* position: absolute; *//* right: 0px; *//* top: 0px; */text-indent: -9999px;margin-top: 0px;}

input#v4-2 {
    margin-top: 10px;
    margin-right: 5px;
    /* width: 18px; */
    /* height: 18px; */
    margin-left: 0px;
    /* background: url(images/check-box.png); */
    vertical-align: middle;
    float: left;
    /* background-color: #fff; */
}

input#v4-2 + label {
    font-size: 12px;
    margin-top: 9px;
    color: #fff;
    float: left;
}
table.v4acpcont:last-child {
    margin: 0 !important;
    padding: 0;
}

table.v4acpcont:last-child table.v4acp {
    
    padding-left: 15px;
}

table.v4acpcont:last-child table.v4acp td.v4title h2 {
    color: #ffffff;
    margin-left: 0;
}
form table {
    margin-left: 12px;
    /* margin-top: 12px; */
    margin-bottom: 10px;
    width: 89%;
}
table.v4acpcont:nth-child(2) {
    background: #fff;
}

table.v4acpcont:nth-child(2) table.v4acp tr.v4acp_head td.v4title {background:#fff;}

table.v4acpcont:nth-child(2) table.v4acp tr.v4acp_head td.v4title h2 {background:#fff;color: #111;border-bottom: 1px solid #111;line-height: 26px;margin-top: 5px;width: 94%;}

table.v4acpcont:nth-child(2) table.v4midBox tr.v4acp_mid td.v4mid { background:#fff;}
/* ------ eBay Style // END ------ */



/* ------------- SITE NOTICE END ------------- */
div#GlobalNotice {
	/* Sitenotice box*/
	width:85%;
	height: auto;
	margin: 20px auto;
	border: solid #F00 1px;
	background: #FEEFDA;
	}
	
div#GlobalNotice h3 {
	/* Title */
	height: 38px;
	width: 97%;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
	text-align: center;
	line-height: 46px;
	border-bottom: #555 dotted 1px;
	}
	
div#GlobalNotice div {
	/* Message container */
	width: 96%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;
	height: auto;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	}
	
/* ------------- SITE NOTICE END ------------- */





/* ------------- CUSTOM PAGE // START -------------*/

.custom-pages {
	width: 100%;
	float:right;
	clear:both;
	text-align:left;
	margin-top:13px;
}

.custom-pages-title {
	background-color:#0c0c0c;
	width:100%;
	height:43px;
	color: #fff;
	font-size: 15px;
	line-height: 43px;
	text-transform:uppercase;
	text-indent:10px;
	text-align:left;
}

.custom-pages-content {
	float:left;
	width:100%;
	padding-bottom:15px;
	font-size:14px;
	padding:10px 0;
    font-family: Arial, Helvetica, sans-serif;
	line-height:21px;
}

.custom-pages-content h1 {
	font-size: 22px;
	font-weight: normal;
	color: #333335;
	padding: 11px 0 5px 0;
}

.custom-pages-content h2 {
	font-size: 18px;
	font-weight: normal;
	color: #333335;
	padding: 11px 0 5px 0;
}

.custom-pages-content h3 {
	font-size: 15px;
	font-weight: normal;
	color: #333335;
	padding: 11px 0 5px 0;
}

.custom-pages-content p {
	padding:5px 0;
	line-height:20px;
}


.custom-pages-content ul {
	margin-left:20px;
	line-height:20px;
}

.custom-pages-content ol {
	margin-left:20px;
	line-height:20px;
}

/* ------------- CUSTOM PAGE // END -------------*/




/* ------ MISC Style // START ------ */

span.oriprs {
	display: none;
}
span.disct {
	display: none;
}

img {
	border:none;
	border:0px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

/* ------ MISC Style // END ------ */




/* ------ Responsive Items Style // START ------ */
@media (max-width: 1024px){
  nav .mobile-menu {
    float: none;
  }

  nav .burgermenu{
    float:left;
    width: 60%;
    cursor:pointer;
    display:block;
    padding:10px 20px;
    color: #fff;
    font-size:20px;
    font-weight:bold;
  }
  nav .burgermenu span{
    display: block;
  }
  nav .burgermenu img{
    width:25px;
    display: inline-block;
  }

  nav ul.menu {
    float: left;
    display: block;
    margin-left: 0px;
    padding-top: 10px;
    z-index: 1;
    width: 100%;
    background: #0080ff;
  }
  nav ul.menu li {
    display: inline;
  }

  nav ul.menu li a {
    display: block;
    text-align: left;
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    border-right: none;
  }

  nav ul.menu, a.closemenu{
    display: none;
  }

  nav .mobile-menu:hover ul.menu, .mobile-menu:hover ~ a.closemenu {
    display: block;
  }

  nav a.closemenu {
        color: #fff;
        margin-right: 30px;
        font-size: 14px;
        border: 2px solid #fff;
        padding: 4px 8px;
        margin-top: 10px;
        position: absolute;
        right: 0;
        border-radius: 14px;
        text-decoration: none;
  }

  .gallery {

    width: 100%;
    float: none;
  }

  .gallery-detail {
    width: 98%;
  }

  .gallery-detail h1 {
    width: 100%;
  }
}

@media (max-width: 850px){
  header .logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;

  }

  header .header-right {
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
  }



  footer .link-sect {
    width: 31%;
    padding-left: 2%;
    margin-top: 0px;
  }

  footer .sub {
    float: left;
  }
}

@media (max-width:800px){
 

} 
@media (max-width: 768px){
#ds_div {
	max-width:768px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
 
.products .single-product {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }

  .products .single-product:last-child {
    margin-right: auto;
  }

  .categories .single-category {
    width: 50%;
  }

  .tabs a.tab {
    float: none;
    width: 100%;
  }

/* CATALOGUE Responsive */

.wrapper {
	overflow:hidden;
}
body {
	margin:0 5px 5px 5px !important;
	overflow-x: hidden !important;
}
td#CentralArea div.dynpg {
	height:auto;
}
table.content-container-table {
	width:100%;
	display:block;
	padding-left: 0;
	padding-right: 0;
}

table.content-container-table td {
	display: block;
	width:100%;
}

table.content-container-table td:nth-child(2) {

}
#LeftPanel {
	display:none;
}

#TopPromoArea {
	width:100% !important;
	display:none;
	margin-bottom:20px;
	float:none;
}

.r3_cm {
	margin-top:22px;
	width: 97.7%;
	float: left;
}

.r3_cm, #fpcap {
}

td#CentralArea div.v4stabl {
	margin-top:0px;
	text-align: left;
}

.cmsg {
	float: left;
	margin-top: 8px;
}

.grid td.gallery, .grid td.gallery:nth-child(2) {
	width: 32%;
	margin:0 4px;
}

table.gallery {
	width: 100% !important;
	min-height:315px;
	margin-bottom: 10px;
}

table.pgbc {
	width: 100%;
	height:40px;
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}
.dynpg .l {
	text-align: center;
	padding-top: 10px;
	padding-left: 0;
}

table.gallery td.details div.ttl {
	height:48px;
}

.dynpg table.pager td, .dynpg table.pager td:nth-child(2) {
	padding-left: 0;
	float: left;

	margin-top: 5px;
	width: 30% !important;
}

.dynpg .prev {
	padding-right:10px;
}

.dynpg .next {
	padding-left: 10px !important;
}

.dynpg {
	text-align:center;
}

.dynpg .r, table.tb_v4bc tr td {
	display:none;
}

.stBadge {
	display:none !important;
}
table.pgbc td {
	width: 100% !important;
	text-align: center;
	display: block;
}

.dynpg table.pager {
	margin: 0 auto;
	width: 100% !important;
}
.rs-pview{
	width: 100% !important;
}

.ctrlbr {
	float:left;
	padding-left:15px;
	margin-top: 5px;: 20px
	margin-top:0;
	margin-bottom: 15px;
}

.fpcc span.keywordClass {
	font-size:14px;
}

.rs_box{
	width:100%;
	overflow: hidden;
}
.pagecontainer table:nth-child(5) td > table:nth-child(2) {
	width:100%;
	padding: 0;
}

}
@media (max-width: 736px){
	#ds_div{
	width:736px !important;
	overflow:hidden !important;
	margin:0 auto !important;
	
}
}
 
@media (max-width: 670px) {
#ds_div{
	width:667px !important;
	overflow:hidden !important;
	margin:0 auto !important;
	
}
 
  .tabs label {
	  width:100%;
  }
}

@media (max-width: 640px) {
#ds_div {
	width:640px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}

  
  
  
  
.wrapper, td#CentralArea div.dynpg {
    width: 640px;
    height: auto;
}
#fpcap {
	width: 98%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width: 40%;
}

table.grid td.gallery:last-child {
	display:none;
}
}
@media (max-width: 600px){
  
}

@media (max-width: 570px) {
#ds_div{
	width:568px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
 header .header-right {
    padding-bottom: 20px;
    width: 100%;
  }

  header .shipping,
  header .phone {
    float: none;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  footer .link-sect {
    width: 48%;
  }

  
  
  
  
.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width: 550px;
}


table.grid td.gallery:last-child {
	display:none;
}
.ad-banner,.dealy_deal,.slide-banner{
	width: 98%;
	text-align: center;
	margin:10px auto;
}
.ad-banner img,.dealy_deal img,.slide-banner img{
	display: inline-block;
}
.wrapper, td#CentralArea div.dynpg {
	width: 570px;
	height: auto;
}

.r3_cm {
    margin-top: 22px;
    width: 99.5%;
    float: left;
    margin-left: 0 !important;
    padding-left: 0;
}

}

@media (max-width: 480px) {
#ds_div {
	width:480px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}

  
  
  
.wrapper, td#CentralArea div.dynpg {
	width:480px;
}

#fpcap {
	width:82%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width:460px;
}

table.grid td.gallery:last-child {
	display:none;
}

.burgermenu {
}

}
@media (max-width: 450px) {
  .header-top {
    height: auto;
    line-height: 24px;
  }

  .header-top ul.menu {
    float: left;
    margin-right: 0px;
    margin-left: 30px;
  }

  .header-top ul.menu li {
    float: none;
  }

  .header-top ul.menu li:first-child {
    list-style: disc;
  }

  .categories .single-category {
    width: 100%;
    float: none;
  }

  footer .link-sect {
    width: 98%;
    height: auto;
    padding-bottom: 30px;
  }

  .white-box, .thumbnails .gallery-content, .defaultimg {
    height: 450px;
  }

  .gallery-detail .product-specifications .spec-row {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .gallery-detail .product-specifications .name,
  .gallery-detail .product-specifications .detail {
    width: 100%;
    float: none;
    padding-left: 10px;
    box-sizing: border-box;

    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    /*border-bottom: 1px solid #e4e4e4;*/
  }
}

@media (max-width: 424px)
{
#ds_div{
	width:424px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}



 
 
 
.wrapper, td#CentralArea div.dynpg {
	width:424px;
}

#fpcap {
	width:82%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width:414px;
}

table.grid td.gallery:last-child {
	display:none;
}

}

@media (max-width: 414px)
{
#ds_div {
	width:414px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
  
  
 
 
  
.wrapper, td#CentralArea div.dynpg {
	width: 414px;
}

#fpcap {
	width: 97%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width:400px;
}

table.grid td.gallery:last-child {
	display:none;
}

table.gallery {
    width: 98% !important;
}


}


@media (max-width: 400px) {
#ds_div {
	width:400px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}

  
  
.wrapper, td#CentralArea div.dynpg {
	width:400px;

}

#fpcap {
	width:50%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width:382px;

}
}

@media (max-width: 384px)
{
#ds_div{
	width:384px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
 
  
  
  
.wrapper, td#CentralArea div.dynpg {
	width:384px;
}

#fpcap {
	width:47%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width:365px;
}

}

@media (max-width: 375px) {
#ds_div {

	width:370px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
   .white-box, .thumbnails .gallery-content, .defaultimg {
    height: 390px;
  }
  
  
  
.wrapper, td#CentralArea div.dynpg {
	width: 365px;
}

#fpcap {
	width: 97%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width: 360px;
}
.r3_cm {
    margin-top: 22px;
    width: 100%;
    float: left;
    padding-left: 0;
}


}

@media (max-width: 360px) {
#ds_div {
	width:360px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
  
  

.wrapper, td#CentralArea div.dynpg {
	width: 360px;
}

#fpcap {
	width: 95%;
}

.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width: 352px;
}

}

@media (max-width: 320px) {
#ds_div {
	width:310px !important;
	overflow:hidden !important;
	margin:0 auto !important;
}
 .white-box {
    height: 350px;
  }




.wrapper, td#CentralArea div.dynpg {
	width: 310px;
	height: auto;
}

#fpcap {
	width: 100%;

}
table.gallery {width: 98% !important;}
.footer {
	width:100%;
}

.grid td.gallery, .grid td.gallery:nth-child(2), .grid td.gallery, .grid td.gallery:nth-child(1) {
	width: 300px;
}

.r3_cm {
    margin-top: 22px;
    width: 96%;
    float: left;
}

}
/* ------ Responsive Items Style // END ----- */
.dbusfoot {
    background-image: url('https://accessmylogin.s3.amazonaws.com/assets/swift-bottom-seperator.png');
    margin: 20px auto 0;
    max-width: 617px;
    height: 20px;
    background-repeat: no-repeat;
	background-position: center; 
	clear:both;
	position:relative;
	top:10px;
}

.dbus {
    text-align: center;
    background-image: url('https://accessmylogin.s3.amazonaws.com/assets/swift-bottom-logo.png');
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50px;
}
